<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<array>
		<dict>
			<key>r</key>
			<integer>65535</integer>
			<key>g</key>
			<integer>65535</integer>
			<key>b</key>
			<integer>65535</integer>
			<key>name</key>
			<string>Chalk</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>61166</integer>
			<key>g</key>
			<integer>61166</integer>
			<key>b</key>
			<integer>61166</integer>
			<key>name</key>
			<string>Marble</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>52428</integer>
			<key>g</key>
			<integer>52428</integer>
			<key>b</key>
			<integer>52428</integer>
			<key>name</key>
			<string>Soapstone</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>43690</integer>
			<key>g</key>
			<integer>43690</integer>
			<key>b</key>
			<integer>43690</integer>
			<key>name</key>
			<string>Concrete</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>34952</integer>
			<key>g</key>
			<integer>34952</integer>
			<key>b</key>
			<integer>34952</integer>
			<key>name</key>
			<string>Granite</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>30583</integer>
			<key>g</key>
			<integer>30583</integer>
			<key>b</key>
			<integer>30583</integer>
			<key>name</key>
			<string>Flint</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>21845</integer>
			<key>g</key>
			<integer>21845</integer>
			<key>b</key>
			<integer>21845</integer>
			<key>name</key>
			<string>Shale</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>13107</integer>
			<key>g</key>
			<integer>13107</integer>
			<key>b</key>
			<integer>13107</integer>
			<key>name</key>
			<string>Gabbro</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>8738</integer>
			<key>g</key>
			<integer>8738</integer>
			<key>b</key>
			<integer>8738</integer>
			<key>name</key>
			<string>Basalt</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
			<key>name</key>
			<string>Obsidian</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>29812</integer>
			<key>g</key>
			<integer>25957</integer>
			<key>b</key>
			<integer>56540</integer>
			<key>name</key>
			<string>Violet Dusk</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>23387</integer>
			<key>g</key>
			<integer>34695</integer>
			<key>b</key>
			<integer>62194</integer>
			<key>name</key>
			<string>Sky Blue</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>25186</integer>
			<key>g</key>
			<integer>54998</integer>
			<key>b</key>
			<integer>44204</integer>
			<key>name</key>
			<string>Ocean Green</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>24415</integer>
			<key>g</key>
			<integer>48573</integer>
			<key>b</key>
			<integer>29041</integer>
			<key>name</key>
			<string>Spring Frost</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>32382</integer>
			<key>g</key>
			<integer>33667</integer>
			<key>b</key>
			<integer>23387</integer>
			<key>name</key>
			<string>Mildew</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>59110</integer>
			<key>g</key>
			<integer>59110</integer>
			<key>b</key>
			<integer>22616</integer>
			<key>name</key>
			<string>Mustard</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>65535</integer>
			<key>g</key>
			<integer>49087</integer>
			<key>b</key>
			<integer>22102</integer>
			<key>name</key>
			<string>Canteloupe</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>63736</integer>
			<key>g</key>
			<integer>31611</integer>
			<key>b</key>
			<integer>22359</integer>
			<key>name</key>
			<string>Tulip</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>56026</integer>
			<key>g</key>
			<integer>17733</integer>
			<key>b</key>
			<integer>27499</integer>
			<key>name</key>
			<string>Carnation</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>48059</integer>
			<key>g</key>
			<integer>22102</integer>
			<key>b</key>
			<integer>50115</integer>
			<key>name</key>
			<string>Orchid</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>33153</integer>
			<key>g</key>
			<integer>21588</integer>
			<key>b</key>
			<integer>53713</integer>
			<key>name</key>
			<string>Pale Violet</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>26728</integer>
			<key>g</key>
			<integer>30326</integer>
			<key>b</key>
			<integer>59367</integer>
			<key>name</key>
			<string>Evening Blue</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>23901</integer>
			<key>g</key>
			<integer>47802</integer>
			<key>b</key>
			<integer>51914</integer>
			<key>name</key>
			<string>Fog</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>24672</integer>
			<key>g</key>
			<integer>51914</integer>
			<key>b</key>
			<integer>36494</integer>
			<key>name</key>
			<string>Chlorine</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>29041</integer>
			<key>g</key>
			<integer>39064</integer>
			<key>b</key>
			<integer>24158</integer>
			<key>name</key>
			<string>Moss</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>45746</integer>
			<key>g</key>
			<integer>46260</integer>
			<key>b</key>
			<integer>22873</integer>
			<key>name</key>
			<string>Olive</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>65535</integer>
			<key>g</key>
			<integer>59881</integer>
			<key>b</key>
			<integer>22359</integer>
			<key>name</key>
			<string>Banana</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>65535</integer>
			<key>g</key>
			<integer>38036</integer>
			<key>b</key>
			<integer>22102</integer>
			<key>name</key>
			<string>Grapefruit</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>61680</integer>
			<key>g</key>
			<integer>24929</integer>
			<key>b</key>
			<integer>22359</integer>
			<key>name</key>
			<string>Salmon</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>56540</integer>
			<key>g</key>
			<integer>21588</integer>
			<key>b</key>
			<integer>44461</integer>
			<key>name</key>
			<string>Grape</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>22873</integer>
			<key>g</key>
			<integer>6168</integer>
			<key>b</key>
			<integer>48059</integer>
			<key>name</key>
			<string>Violet</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>6168</integer>
			<key>g</key>
			<integer>8738</integer>
			<key>b</key>
			<integer>52685</integer>
			<key>name</key>
			<string>Blue</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>6168</integer>
			<key>g</key>
			<integer>24672</integer>
			<key>b</key>
			<integer>23130</integer>
			<key>name</key>
			<string>Seaweed</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>12079</integer>
			<key>g</key>
			<integer>35723</integer>
			<key>b</key>
			<integer>8224</integer>
			<key>name</key>
			<string>Clover</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>35980</integer>
			<key>g</key>
			<integer>48316</integer>
			<key>b</key>
			<integer>7196</integer>
			<key>name</key>
			<string>Cactus</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>65535</integer>
			<key>g</key>
			<integer>60138</integer>
			<key>b</key>
			<integer>6168</integer>
			<key>name</key>
			<string>Lemon</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>65535</integer>
			<key>g</key>
			<integer>44975</integer>
			<key>b</key>
			<integer>6168</integer>
			<key>name</key>
			<string>Tangerine</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>65535</integer>
			<key>g</key>
			<integer>30069</integer>
			<key>b</key>
			<integer>6168</integer>
			<key>name</key>
			<string>Melon</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>63222</integer>
			<key>g</key>
			<integer>16191</integer>
			<key>b</key>
			<integer>6939</integer>
			<key>name</key>
			<string>Red Orange</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>60909</integer>
			<key>g</key>
			<integer>6168</integer>
			<key>b</key>
			<integer>7710</integer>
			<key>name</key>
			<string>Red</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>27756</integer>
			<key>g</key>
			<integer>6168</integer>
			<key>b</key>
			<integer>45232</integer>
			<key>name</key>
			<string>Royal Violet</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>17990</integer>
			<key>g</key>
			<integer>6168</integer>
			<key>b</key>
			<integer>50886</integer>
			<key>name</key>
			<string>Blue Violet</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>6168</integer>
			<key>g</key>
			<integer>19275</integer>
			<key>b</key>
			<integer>33153</integer>
			<key>name</key>
			<string>Sea Blue</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>6168</integer>
			<key>g</key>
			<integer>30069</integer>
			<key>b</key>
			<integer>13364</integer>
			<key>name</key>
			<string>Pine</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>23901</integer>
			<key>g</key>
			<integer>41891</integer>
			<key>b</key>
			<integer>7710</integer>
			<key>name</key>
			<string>Fern</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>47802</integer>
			<key>g</key>
			<integer>54484</integer>
			<key>b</key>
			<integer>6682</integer>
			<key>name</key>
			<string>Watercress</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>65535</integer>
			<key>g</key>
			<integer>52428</integer>
			<key>b</key>
			<integer>6168</integer>
			<key>name</key>
			<string>Marigold</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>65535</integer>
			<key>g</key>
			<integer>37522</integer>
			<key>b</key>
			<integer>6168</integer>
			<key>name</key>
			<string>Orange</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>64250</integer>
			<key>g</key>
			<integer>20046</integer>
			<key>b</key>
			<integer>6425</integer>
			<key>name</key>
			<string>Fire</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>61423</integer>
			<key>g</key>
			<integer>7967</integer>
			<key>b</key>
			<integer>7453</integer>
			<key>name</key>
			<string>Apple</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>10537</integer>
			<key>g</key>
			<integer>6682</integer>
			<key>b</key>
			<integer>4112</integer>
			<key>name</key>
			<string>Sepia</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>23301</integer>
			<key>g</key>
			<integer>15763</integer>
			<key>b</key>
			<integer>9081</integer>
			<key>name</key>
			<string>Raw Sienna</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>36066</integer>
			<key>g</key>
			<integer>24843</integer>
			<key>b</key>
			<integer>14049</integer>
			<key>name</key>
			<string>Dirt</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>48830</integer>
			<key>g</key>
			<integer>33924</integer>
			<key>b</key>
			<integer>19018</integer>
			<key>name</key>
			<string>Tan</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>52582</integer>
			<key>g</key>
			<integer>51143</integer>
			<key>b</key>
			<integer>49704</integer>
			<key>name</key>
			<string>Warm Marble</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>36045</integer>
			<key>g</key>
			<integer>32768</integer>
			<key>b</key>
			<integer>29491</integer>
			<key>name</key>
			<string>Warm Granite</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>15831</integer>
			<key>g</key>
			<integer>14392</integer>
			<key>b</key>
			<integer>12953</integer>
			<key>name</key>
			<string>Warm Shale</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>49704</integer>
			<key>g</key>
			<integer>49704</integer>
			<key>b</key>
			<integer>52582</integer>
			<key>name</key>
			<string>Cool Marble</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>29491</integer>
			<key>g</key>
			<integer>29491</integer>
			<key>b</key>
			<integer>36045</integer>
			<key>name</key>
			<string>Cool Granite</string>
		</dict>
		<dict>
			<key>r</key>
			<integer>12953</integer>
			<key>g</key>
			<integer>12953</integer>
			<key>b</key>
			<integer>15831</integer>
			<key>name</key>
			<string>Cool Shale</string>
		</dict>
	</array>
</dict>
</plist>
